.btnStart {
  border-left: 4px solid #3F7244;
  border-right: 15px solid #3F7244;
  border-top: 10px solid #3F7244;
  border-bottom: 10px solid #3F7244;
  border-radius: 50px;
  background-color: #6BC174;
  width: 494px;
  height: 200px;
  cursor: pointer;
}

.containerDiv {
  position: absolute;
  bottom: 40%;
  left: 43.5%;
}