.QuestionContainer {
    min-height: 767px;
    max-height: 907px;
}

.imgBackgroundContainer {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-color: #31026f;
}

.containerLogger {
    background-color: rgba(0, 0, 0, 13%);
}

.leterLogger {
    color: #F3FBC1;
    text-shadow: 1px 1px 1px black;
}

.AnswerBoxRight,
.AnswerBoxLeft {
    width: 300px;
    height: 58px;
    background-color: #ffe3ba;
    border-radius: 17px;
    color: #461485;
    font-size: 16px;
    display: flex;
    justify-content: left;
    align-items: left;
    box-shadow: 1px 1px 60px 2px #461485;
    bottom: 25%;
    border:1.5px solid #461485;
    font-weight: 550;
}

.AnswerBoxRight label:first-child,
.AnswerBoxLeft label:first-child {
    border: 1.5px solid #461485;
    background-color: #ffe3ba;
    box-shadow: 1px 1px 60px 2px rgba(0, 0, 0, 14%);
}


.colorBackgroundContainer {
    background-color: #5C77BD;
    background-image: url("/jigsaw.svg");
    background-blend-mode: soft-light;
}

.RankingContainer {
    position: absolute;
    z-index: 9999;
    border: 1px solid rgb(0, 43, 113);
    background-color: rgb(81, 7, 107);
    color: white;
    border-radius: 30px;
    top: 15%;
    padding: 80px;
    padding-top: 40px;
    padding-bottom: 35px;
    /* width: 40vw;
    height: 60vh; */
}

.RankingContainer div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.RankingContainer div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    font-size: 40px;
}

.RankingContainer div table {
    white-space: nowrap;
}

.RankingContainer div table thead tr th {
    background-color: #461485;
    color: #fff5d2;
    border: 2px solid #461485;
    /* border-radius: 12px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.RankingContainer div table thead tr th:first-child {
    border-top-right-radius: 0px;
}

.RankingContainer div table thead tr th:last-child {
    border-top-left-radius: 0px;
}

.RankingContainer div table tbody {
    background-color: #a266ec;
    color: #fff5d2;
}

.RankingContainer div table tbody tr td {
    padding: 12px;
}

.RankingContainer div table tbody tr td:last-child {
    border-bottom-right-radius: 10px;
}

.RankingContainer div table tbody tr td:first-child {
    border-bottom-left-radius: 10px;
}

.RankingContainer div table thead tr th,
.RankingContainer div table tbody tr td {
    width: 120px;
    text-align: center;
}

.btnReset {
    border-left: 4px solid #3f4372;
    border-right: 15px solid #3f4372;
    border-top: 10px solid #3f4372;
    border-bottom: 10px solid #3f4372;
    background-color: #716bc1;
    border-radius: 30px;
    width: 294px;
    height: 100px;
    cursor: pointer;
    font-size: 150%;
}

.btnReset:hover {
    transform: scale(1.2);
}

.timer {
    color: #FCEDBA;
    text-shadow: 1px 1px 12px black;
}

@media(min-width:1920px) {
    .imgBackgroundContainer {
        width: 100%;
        height: 100%;
        background-size: 76px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .colorBackgroundContainer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        position: relative;
    }

    .QuestionContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;
        left: -125px;
        min-height: 927px;
        max-height: 927px;
    }

    .leterLogger {
        padding: 20px 15px 20px 15px;
        /* animation: opacityLogg 5s linear ; */
    }

    .timer {
        /* position: absolute; */
        left: 53%;
        font-size: 128px;
    }

    .questionHeader {
        position: relative;
        bottom: 16%;
        width: 451px;
        height: 344px;
        background-color: #FFE3BA;
        border-radius: 17px;
        text-align: center;
        font-family: Inter;
        box-shadow: 1px 1px 60px 2px rgba(0, 0, 0, 5%);
    }

    .questionHeaderLetter {
        background-color: #461485;
        width: 451px;
        height: 83px;
        border-top-right-radius: 17px;
        border-top-left-radius: 17px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        text-shadow: 1px 1px 1px black;
        font-size: 36px;
    }

    .questionBody {
        background-color: #FFE3BA;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #55452E;
        color: #030080;
        font-weight: 550;
        /* text-shadow: 1px 1px 1px black; */
        font-size: 36px;
        margin-top: 10%;
    }

    .btnCustom {
        margin: 15px;
        background-color: #FFE3BA;
        color: black;
        padding: 20px;
        cursor: pointer;
        border-radius: 17px;
        font-weight: 700;
        position: relative;
        right: 16px;
    }

    .btnCustom:hover {
        background-color: #ffc267;
        color: #461485;
        transform: scale(1.3);
    }

    .btnCustomContainers {
        position: absolute;
        right: 0;
        z-index: 999;
    }

    .AnswerBoxLeft {
        /* position: absolute; */
        left: 30%;
    }

    .AnswerBoxRight {
        /* position: absolute; */
        right: 19%;
    }

    .AnswerBoxRight,
    .AnswerBoxLeft {
        width: 451px;
        height: 98px;
        border-radius: 17px;
        font-size: 20px;
        display: flex;
        justify-content: left;
        align-items: left;
        bottom: 25%;
    }

    .AnswerBoxRight label:last-child,
    .AnswerBoxLeft label:last-child {
        position: relative;
        left: 5px;
        top: 15px;
        font-size: 20px;
    }

    .AnswerBoxRight label:first-child,
    .AnswerBoxLeft label:first-child {
        position: relative;
        bottom: 12px;
        right: 12px;
        width: 110px;
        min-width: 110px;
        height: 120px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .UserBoxLeft {
        display: flex;
        flex-direction: column;
    }

    .UserBoxRight {
        display: flex;
        flex-direction: column;
    }

    .UserBoxFont {
        padding-top: 25px;
    }

    .AnswerContaintReply {
        display: flex;
        position: relative;
        bottom: 241px;
        gap: 42px;
    }
}



@media(max-width:1919px) {
    .imgBackgroundContainer {
        width: 100%;
        height: 100%;
        background-size: 76px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .colorBackgroundContainer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        position: relative;
    }

    .QuestionContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;
        left: -115px;
    }

    .leterLogger {
        color: #F3FBC1;
        text-shadow: 1px 1px 1px black;
        padding: 20px 15px 20px 15px;
        /* animation: opacityLogg 5s linear ; */
    }

    .containerLogger {
        background-color: rgba(0, 0, 0, 13%);
        /* max-width: 1rem;
        min-width: 16rem;
        max-height: 100vh;
        min-height: 100vh; */
    }

    .timer {
        /* position: absolute; */
        left: 53%;
        font-size: 98px;
        color: #FCEDBA;
        text-shadow: 1px 1px 12px black;
    }

    .questionHeader {
        position: relative;
        bottom: 16%;
        width: 360px;
        height: 244px;
        background-color: #FFE3BA;
        border-radius: 17px;
        text-align: center;
        font-family: Inter;
        box-shadow: 1px 1px 60px 2px rgba(0, 0, 0, 5%);
    }

    .questionHeaderLetter {
        background-color: #461485;
        width: 360px;
        height: 83px;
        border-top-right-radius: 17px;
        border-top-left-radius: 17px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        text-shadow: 1px 1px 1px black;
        font-size: 26px;
    }

    .questionBody {
        background-color: #FFE3BA;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #55452E;
        color: #030080;
        font-weight: 550;
        /* text-shadow: 1px 1px 1px black; */
        font-size: 24px;
        margin-top: 10%;
    }

    .btnCustom {
        margin: 15px;
        background-color: #FFE3BA;
        color: black;
        padding: 20px;
        cursor: pointer;
        border-radius: 17px;
        font-weight: 700;
        position: relative;
        right: 16px;
    }

    .btnCustom:hover {
        background-color: #ffc267;
        color: #461485;
        transform: scale(1.3);
    }

    .btnCustomContainers {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 999;
    }

    .AnswerBoxLeft {
        /* position: absolute; */
        left: 30%;
    }

    .AnswerBoxRight {
        /* position: absolute; */
        right: 19%;
    }

    .AnswerBoxRight,
    .AnswerBoxLeft {
        width: 300px;
        height: 58px;
        border-radius: 17px;
        font-size: 16px;
        display: flex;
        justify-content: left;
        align-items: left;
        bottom: 25%;
    }

    .AnswerBoxRight label:last-child,
    .AnswerBoxLeft label:last-child {
        /* position: relative; */
        left: 5px;
        top: 25px;
        font-size: 14px;
    }

    .AnswerBoxRight label:first-child,
    .AnswerBoxLeft label:first-child {
        position: relative;
        bottom: 12px;
        right: 12px;
        width: 75px;
        min-width: 75px;
        height: 75px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .UserBoxLeft {
        display: flex;
        flex-direction: column;
    }

    .UserBoxRight {
        display: flex;
        flex-direction: column;
    }

    .UserBoxFont {
        padding-top: 25px;
    }

    .AnswerContaintReply {
        display: flex;
        position: relative;
        bottom: 241px;
        gap: 42px;
    }
}


@media(max-width:1000px) {
    .imgBackgroundContainer {
        width: 100%;
        height: 100%;
        background-size: 76px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .colorBackgroundContainer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        position: relative;
    }

    .QuestionContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;
        left: -85px;
    }

    .leterLogger {
        color: #F3FBC1;
        text-shadow: 1px 1px 1px black;
        padding: 20px 15px 20px 15px;
        /* animation: opacityLogg 5s linear ; */
    }

    .containerLogger {
        background-color: rgba(0, 0, 0, 13%);
        /* max-width: 1rem;
        min-width: 6rem;
        max-height: 100vh;
        min-height: 100vh; */
    }

    .timer {
        /* position: absolute; */
        left: 53%;
        font-size: 98px;
        color: #FCEDBA;
        text-shadow: 1px 1px 12px black;
    }

    .questionHeader {
        position: relative;
        bottom: 16%;
        width: 320px;
        height: 244px;
        background-color: #FFE3BA;
        border-radius: 17px;
        text-align: center;
        font-family: Inter;
        box-shadow: 1px 1px 60px 2px rgba(0, 0, 0, 5%);
    }

    .questionHeaderLetter {
        background-color: #461485;
        width: 320px;
        height: 53px;
        border-top-right-radius: 17px;
        border-top-left-radius: 17px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        text-shadow: 1px 1px 1px black;
        font-size: 26px;
    }

    .questionBody {
        background-color: #FFE3BA;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #55452E;
        color: #030080;
        font-weight: 550;
        /* text-shadow: 1px 1px 1px black; */
        font-size: 20px;
        margin-top: 10%;
    }

    .btnCustom {
        margin: 15px;
        background-color: #FFE3BA;
        color: black;
        padding: 20px;
        cursor: pointer;
        border-radius: 17px;
        font-weight: 700;
        position: relative;
        right: 16px;
    }

    .btnCustom:hover {
        background-color: #ffc267;
        color: #461485;
        transform: scale(1.3);
    }

    .btnCustomContainers {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 999;
    }

    .AnswerBoxLeft {
        /* position: absolute; */
        left: 30%;
    }

    .AnswerBoxRight {
        /* position: absolute; */
        right: 19%;
    }

    .AnswerBoxRight,
    .AnswerBoxLeft {
        width: 240px;
        height: 58px;
        border-radius: 17px;
        font-size: 16px;
        display: flex;
        justify-content: left;
        align-items: left;
        bottom: 25%;
    }

    .AnswerBoxRight label:last-child,
    .AnswerBoxLeft label:last-child {
        position: relative;
        left: -8px;
        top: 5px;
        font-size: 13.2px;
    }

    .AnswerBoxRight label:first-child,
    .AnswerBoxLeft label:first-child {
        position: relative;
        bottom: 12px;
        right: 12px;
        width: 75px;
        min-width: 75px;
        height: 75px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .UserBoxLeft {
        display: flex;
        flex-direction: column;
    }

    .UserBoxRight {
        display: flex;
        flex-direction: column;
    }

    .UserBoxFont {
        padding-top: 25px;
    }

    .AnswerContaintReply {
        display: flex;
        position: relative;
        bottom: 241px;
        gap: 42px;
    }
}

@media(max-width:700px) {
    .imgBackgroundContainer {
        width: 100vw;
        height: 100vh;
        background-size: 76px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .colorBackgroundContainer {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        position: relative;
    }

    .QuestionContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 200%;
        position: relative;
        left: -145px;
        top: 35px;
    }

    .leterLogger {
        color: #F3FBC1;
        text-shadow: 1px 1px 1px black;
        padding: 20px 15px 20px 15px;
        /* animation: opacityLogg 5s linear ; */
    }

    .containerLogger {
        background-color: rgba(0, 0, 0, 13%);
        display: none;
    }

    .timer {
        /* position: absolute; */
        left: 53%;
        font-size: 98px;
        color: #FCEDBA;
        text-shadow: 1px 1px 12px black;
    }

    .questionHeader {
        position: relative;
        bottom: 16%;
        width: 220px;
        height: 224px;
        background-color: #FFE3BA;
        border-radius: 17px;
        text-align: center;
        font-family: Inter;
        box-shadow: 1px 1px 60px 2px rgba(0, 0, 0, 5%);
    }

    .questionHeaderLetter {
        background-color: #461485;
        width: 220px;
        height: 53px;
        border-top-right-radius: 17px;
        border-top-left-radius: 17px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        text-shadow: 1px 1px 1px black;
        font-size: 26px;
    }

    .questionBody {
        background-color: #FFE3BA;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #55452E;
        color: #030080;
        font-weight: 550;
        /* text-shadow: 1px 1px 1px black; */
        font-size: 20px;
        margin-top: 10%;
    }

    .btnCustom {
        margin: 15px;
        background-color: #FFE3BA;
        color: black;
        padding: 20px;
        cursor: pointer;
        border-radius: 17px;
        font-weight: 700;
        position: relative;
        right: 16px;
    }

    .btnCustom:hover {
        background-color: #ffc267;
        color: #461485;
        transform: scale(1.3);
    }

    .btnCustomContainers {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 999;
    }

    .AnswerBoxLeft {
        /* position: absolute; */
        left: 10%;
    }

    .AnswerBoxRight {
        /* position: absolute; */
        right: 10%;
    }

    .AnswerBoxRight,
    .AnswerBoxLeft {
        width: 100%;
        min-width: 150px;
        height: 60%;
        max-height: 78px;
        border-radius: 17px;
        font-size: 10px;
        display: flex;
        justify-content: left;
        align-items: left;
        bottom: 25%;
    }

    .AnswerBoxRight label:last-child,
    .AnswerBoxLeft label:last-child {
        position: relative;
        left: -8px;
        top: 5px;
        font-size: 13.2px;
    }

    .AnswerBoxRight label:first-child,
    .AnswerBoxLeft label:first-child {
        position: relative;
        bottom: 12px;
        right: 12px;
        width: 75px;
        min-width: 75px;
        height: 75px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .UserBoxLeft {
        display: flex;
        flex-direction: column;
    }

    .UserBoxRight {
        display: flex;
        flex-direction: column;
    }

    .UserBoxFont {
        padding-top: 25px;
    }

    .AnswerContaintReply {
        display: flex;
        position: relative;
        bottom: 241px;
        gap: 42px;
    }
}

/*Height*/
@media(max-height:720px) {
    .leterLogger {
        position: relative;
        bottom: 20%;
    }
}

@media(max-height:600px) {
    .leterLogger {
        position: relative;
        bottom: 55%;
    }
}

@media(max-height:470px) {
    .leterLogger {
        position: relative;
        bottom: 100%;
    }
}

@media(max-height:365px) {
    .leterLogger {
        position: relative;
        bottom: 170%;
    }
}

@media(max-height:270px) {
    .leterLogger {
        position: relative;
        bottom: 240%;
    }
}